---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Limitless Construction - Projects">
  <section class="ftco-gallery ftco-section">
    <div class="container-xl">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center heading-section" data-aos="fade-up" data-aos-duration="400">
          <span class="subheading">Our Work</span>
          <h2 class="mb-3">Recent Projects</h2>
          <p>Explore a selection of renovations, building alterations, paving, and steel works completed across Uitenhage, Port Elizabeth, and the Eastern Cape.</p>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
          <div class="gallery-wrap img d-flex align-items-center justify-content-center" style="background-image: url(/images/PJ1.jpeg);"></div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <div class="gallery-wrap img d-flex align-items-center justify-content-center" style="background-image: url(/images/PJ2.jpeg);"></div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
          <div class="gallery-wrap img d-flex align-items-center justify-content-center" style="background-image: url(/images/PJ3.jpeg);"></div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
          <div class="gallery-wrap img d-flex align-items-center justify-content-center" style="background-image: url(/images/PJ4.jpeg);"></div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <div class="gallery-wrap img d-flex align-items-center justify-content-center" style="background-image: url(/images/PJ5.jpeg);"></div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
          <div class="gallery-wrap img d-flex align-items-center justify-content-center" style="background-image: url(/images/PJ6.jpeg);"></div>
        </div>

        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
          <div class="gallery-wrap img d-flex align-items-center justify-content-center" style="background-image: url(/images/PJ7.jpeg);"></div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
          <div class="gallery-wrap img d-flex align-items-center justify-content-center" style="background-image: url(/images/PJ8.jpeg);"></div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
          <div class="gallery-wrap img d-flex align-items-center justify-content-center" style="background-image: url(/images/PJ9.jpeg);"></div>
        </div>
      </div>
      <div class="row g-0">
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
          <div class="gallery-wrap img d-flex align-items-center justify-content-center" style="background-image: url(/images/PJ10.jpeg);"></div>
        </div>
      </div>
      <div class="row mt-5 pt-4">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
